
{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Registrate
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}

{% block boody %}
<body>
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="mb-md-2">
                <h2 class="fw-bold mb-2 text-uppercase">Registrate</h2>

                <form method="POST" action="">
                  {% csrf_token %}

                  <div class="form-outline form-white mb-4">
                    {{form.username}}
                    <label class="form-label">Nombre de Usuario</label>
                    <div class="text-warning">
                      {{form.username.errors.as_text}}
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    {{form.first_name}}
                    <label class="form-label">Primer Nombre</label>
                    <div class="text-warning">
                      {{form.first_name.errors.as_text}}
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    {{form.last_name}}
                    <label class="form-label">Apellido</label>
                    <div class="text-warning">
                      {{form.last_name.errors.as_text}}
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    {{form.email}}
                    <label class="form-label">Email</label>
                    <div class="text-warning">
                      {{form.email.errors.as_text}}
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    {{form.password1}}
                    <label class="form-label">Contraseña</label>
                    <div class="text-warning">
                      {{form.password1.errors.as_text}}
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    {{form.password2}}
                    <label class="form-label">Confirmar Contraseña</label>
                    <div class="text-warning">
                      {{form.password2.errors.as_text}}
                    </div>
                  </div>

                  <input
                    class="btn btn-outline-light btn-md px-5"
                    type="submit"
                    value="Registrate"
                  />
                </form>
              </div>

              <div class="mt-4">
                <p class="mb-0">
                  ¿Ya tienes cuenta?
                  <a href="{% url 'login' %}" class="text-white-50 fw-bold"
                    >Ingresa</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock boody %}



