<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency</title>
    <link rel="stylesheet" href="assets/css/currency.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
</head>
<body class="currency-body">
    <header class="curr-head">
        <div class="curr-nav">
            <h2 class="tltle">
                Divisas
            </h2>
            <input type="search" class="curr-search">
        </div>
        <nav class="menu-list">
            <a href="#" class="menu-element">Favoritos</a>
            <a href="#" class="menu-element">Futuros</a>
            <a href="#" class="menu-element">Nuevas monedas</a>
            <a href="#" class="menu-element">Todas las monedas</a>
        </nav>
    </header>
    <main class="curr-row">
        <div class="curr-titles">
            <p class="currency curr-element">Moneda</p>
            <p class="value curr-element">Último precio(USDT)</p>
            <p class="exchange curr-element">Cambio en 24H</p>
            <p class="market curr-element">Cap. de Mercado</p>
        </div>
        <div class="curr-row-element">
            <div>
                <div class="curr-img">

                </div>
                <p class="curr-name">Bitcoin</p>
            </div>
            <div>
                <p class="usdt-value">$123</p>
                <p class="local-value">12312 ARS</p>
            </div>
            <div>
                <p class="exchangePercent">%8.40</p>
            </div>
            <div>
                <p class="marketExc">$1231241</p>
            </div>
        </div>
        <div class="curr-row-element">
            <div>
                <div class="curr-img">

                </div>
                <p class="curr-name">USD</p>
            </div>
            <div>
                <p class="usdt-value">$123</p>
                <p class="local-value">12312 ARS</p>
            </div>
            <div>
                <p class="exchangePercent">%8.40</p>
            </div>
            <div>
                <p class="marketExc">$1231241</p>
            </div>
        </div>
        <div class="curr-row-element">
            <div>
                <div class="curr-img">

                </div>
                <p class="curr-name">Peso mexicano</p>
            </div>
            <div>
                <p class="usdt-value">$123</p>
                <p class="local-value">12312 ARS</p>
            </div>
            <div>
                <p class="exchangePercent">%8.40</p>
            </div>
            <div>
                <p class="marketExc">$1231241</p>
            </div>
        </div>
    </main>
    <script src="./assets/js/currency.js"></script>
</body>
</html>