{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Contact   
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}

{% block boody %}

<header
--Section: Contact v.2-->
        <div class="form-register33">
        <section class="vh-100 gradient-custom">
            <div class="container py-4 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-6 mt-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem">
                    <div class="card-body m-2 text-center">
                      <div class="mb-md-2">
                        <h2 class="fw-bold mb-2 text-uppercase">Contacto</h2>
        
                        <form method="POST" action="">
                          {% csrf_token %}
        
                          <div class="form-outline form-white mb-4">
                            <input
                              type="text"
                              name="name"
                              id="name"
                              class="form-control form-control-md"
                            />
                            <label class="form-label" for="typeNameX"
                              >Nombre</label
                            >
                          </div>
        
                          <div class="form-outline form-white mb-4">
                            <input
                              type="email"
                              name="email"
                              id="typeEmailX"
                              class="form-control form-control-md"
                            />
                            <label class="form-label" for="typeEmailX"
                              >Email</label
                            >
                          </div>
                          <div class="form-outline form-white mb-4">
                            <input
                              type="asunto"
                              name="asunto"
                              id="typeAsuntoX"
                              class="form-control form-control-md"
                            />
                            <label class="form-label" for="typeAsuntoX"
                              >Asunto</label
                            >
                          </div>
                          <div class="form-outline form-white mb-4">

                            <input
                              type="message"
                              name="message"
                              id="typeMessage"
                              class="form-control form-control-md"
                            />
                            <label class="form-label" for="typeMessageX"
                              >Mensaje</label
                            >
                          </div>
                          <a class="btn btn-outline-light btn-md px-5" onclick="document.getElementById('contact-form').submit();">Enviar</a>

                        </form>
                      </div>
        
                      {% for message in messages %}
                      <p class="text-warning">{{message}}</p>
                      {% endfor %}
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    <!--Section: Contact v.2-->
</header>


{% endblock boody %}



