<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="./assets/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/002c590bf1.js" crossorigin="anonymous"></script>
</head>
<body class="dashboard-background">
    <section class="dashboard">
        <nav class="user">
            <div class="user-img">

            </div>
            <p class="user-name">
                USERNAME
            </p>
        </nav>
        <nav class="navigation">
            <div class="responsive-menu">
                <i class="fas fa-bars hamburger-menu"></i>
                <div class="blackBackground"></div>
            </div>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="#" class="nav-list-button">
                        News
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="#" class="nav-list-button">
                        Support
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="#" class="nav-list-button">
                        About us
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="#" class="nav-list-button selected">
                        Wallet
                    </a>
                </li>
            </ul>
            <div class="nav-buttons">
                <div class="nav-currency-select">
                    <div class="img-currency">

                    </div>
                    <div class="division-line"></div>
                    <select name="" id="" class="currency-select">
                        <option value="0">Peso (MX)</option>
                        <option value="1">Dollar (US)</option>
                        <option value="2">Euro </option>
                        <option value="3">Libra </option>
                        <option value="4">Yen</option>
                        <option value="5">Dollar (CAN)</option>
                    </select>
                </div>
                <button class="nav-button">
                    Button
                </button>
            </div>
        </nav>
        <aside class="aside-nav">
            <ul class="aside-list">
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        <i class="fas fa-wallet"></i>
                        Example
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        <i class="fas fa-dollar-sign"></i>
                        Example
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        <i class="fas fa-coins"></i>
                        Example
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        <i class="fas fa-user"></i>
                        Example
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        <i class="fas fa-cog"></i>
                        Example
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        <i class="fas fa-chart-bar"></i>
                        Example
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">

                        News
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">

                        Support
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button">
                        
                        About us
                    </a>
                </li>
                <li class="aside-list-item">
                    <a href="#" class="aside-list-button selected">

                        Wallet
                    </a>
                </li>
            </ul>
            <!-- <ul class="social">
                <li class="social-items">
                    <a href="#" class="social-items-button">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="social-items">
                    <a href="#" class="social-items-button">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-items">
                    <a href="#" class="social-items-button">
                        <i class="fab fa-discord"></i>
                    </a>
                </li>
                <li class="social-items">
                    <a href="#" class="social-items-button">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="social-items">
                    <a href="#" class="social-items-button">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="social-items">
                    <a href="#" class="social-items-button">
                        <i class="fab fa-slack"></i>
                    </a>
                </li>
            </ul> -->
        </aside>
        <article class="main-content">
            <div class="main-title">
                <h1 class="title">DASHBOARD</h1>
                <h3 class="subtitle">Currency status</h3>
            </div>
            <div class="cards">
                <div class="main-card">
                    <div class="card-img">

                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Currency price</h2>
                        <p class="card-text">
                            $90.42
                        </p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="card-img">

                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Currency price</h2>
                        <p class="card-text">
                            $90.42
                        </p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="card-img">

                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Currency price</h2>
                        <p class="card-text">
                            $90.42
                        </p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="card-img">

                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Currency price</h2>
                        <p class="card-text">
                            $90.42
                        </p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="card-img">

                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Currency price</h2>
                        <p class="card-text">
                            $90.42
                        </p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="card-img">

                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Currency price</h2>
                        <p class="card-text">
                            $90.42
                        </p>
                    </div>
                </div>
            </div>
            <div class="dashboard-chart">
                <!--Here should be the chart API content-->
            </div>
        </article>
    </section>
    <script src="./assets/js/functions.js" type="module"></script>
</body>
</html>